@media (max-width: 768px) {
  /* Medium screens and up */
  .dfdd {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -113px !important;
  }
  .fef {
    display: flex !important;
    flex-direction: column !important;
  }
  .navbar {
    padding-bottom: 0px !important;
    background-color: transparent !important;
  }
  .bordgd {
    margin-top: -650px !important;
  }
  .bordgdd {
    margin-top: -190px !important;
  }
  .mkm {
    margin-top: -100px !important;
  }
  .makejump {
    font-size: 2rem !important;
  }
  .makejumpss {
    font-size: 2rem !important;
  }
  .imgbg {
    width: 140px !important;
  }
  .imgbgr {
    position: relative !important;
    width: 100% !important;
  }
  .imgbgl {
    display: none !important;
  }
  .announcement {
    margin-top: 20px !important;
    font-size: 0.7rem !important;
    margin-bottom: 20px !important;
  }
  .fefe {
    flex-direction: column !important;
  }
  .ffdq {
    order: 2;
  }
  .jife {
    order: 1;
  }
  .ggg {
    display: none;
  }
  .textvid {
    margin-top: 550px !important;
  }
  .fefee {
    margin-top: 0px !important;
  }
  .ppkp {
    margin-top: 0px !important;
  }
  .jjj {
    margin-top: -30px !important;
  }
  .dfds {
    margin-top: -50px !important;
  }
  .oon {
    margin-top: -1000px !important;
  }
  .ii {
    max-width: 200px !important;
  }
  .oko {
    flex-direction: column !important;
  }
  .iii {
    font-size: 1rem !important;
    max-width: 100px !important;
  }
}

@media (min-width: 768px) {
  /* Medium screens and up */
  .imgbg {
    width: 470px !important;
  }
  .imgbgr {
    left: 1049px !important;
    top: 50px !important;
  }
  .imgbgl {
    left: 0px !important;
    top: 50px !important;
  }
  .makejump {
    font-size: 6rem !important;
  }
  .makejumpss {
    font-size: 4rem !important;
  }
}
.dotted-hr {
  border: none;
  border-top: 2px dotted gray;
  margin: 20px 0;
}
.df a :hover {
  color: rgb(192, 192, 192) !important;
  transition: all 0.3s ease-in-out;
}
.df a {
  transition: all 0.3s ease-in-out;
}
body {
  background-color: rgb(0, 0, 0);
}
.nav-link {
  color: white !important;
  font-weight: 700 !important;
}
.nav-link :hover {
  border: none !important;
}

.announcement {
  display: flex;
  align-items: center;
  background-color: #121826;
  border-radius: 20px;
  padding: 8px 14px;
  gap: 10px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
  border: 0.01rem solid rgba(255, 255, 255, 0.1);
}
a:hover {
  color: white !important;
}

.badge {
  background: linear-gradient(90deg, #ff8a00, #e60073);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.announcement i {
  margin-left: auto;
  color: #9ca3af;
}
.feature-icon {
  font-size: 2rem;
  display: block;
  margin-bottom: 10px;
}
.feature-box {
  padding: 20px;
}
.card-img-top {
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}
.card {
  border-radius: 20px;
}

.menu-container {
  padding: 20px;
}
.menu-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.menu-item a {
  color: white;
  text-decoration: none;
}
.menu-item a:hover {
  text-decoration: underline;
}
.vertical-line {
  border-left: 1px dashed white;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
}
.horizontal-line {
  border-top: 1px dashed white;
  margin: 20px 0;
  opacity: 0.2;
}
